In [5]:
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df_raw = pd.read_csv(r'D:\Portfolio\Dataset\facebook-ads-campaign.csv')

In [7]:
df_raw.head()

,ad_id,reporting_start,reporting_end,campaign_id,fb_campaign_id,age,gender,interest1,interest2,interest3,impressions,clicks,spent,total_conversion,approved_conversion
0,708746,17/08/2017,17/08/2017,916,103916,30-34,M,15,17,17,7350.0,1,1.43,2.0,1.0
1,708749,17/08/2017,17/08/2017,916,103917,30-34,M,16,19,21,17861.0,2,1.82,2.0,0.0
2,708771,17/08/2017,17/08/2017,916,103920,30-34,M,20,25,22,693.0,0,0.00,1.0,0.0
3,708815,30/08/2017,30/08/2017,916,103928,30-34,M,28,32,32,4259.0,1,1.25,1.0,0.0
4,708818,17/08/2017,17/08/2017,916,103928,30-34,M,28,33,32,4133.0,1,1.29,1.0,1.0

In [8]:
df = df_raw.copy()

In [9]:
df.groupby(['reporting_start'])['impressions'].sum().reset_index()

   reporting_start   impressions
0       17/08/2017  1.878184e+05
1       18/08/2017  1.715452e+06
2       19/08/2017  5.728567e+06
3       20/08/2017  6.301887e+06
4       21/08/2017  3.712520e+06
5       22/08/2017  4.008382e+06
6       23/08/2017  1.276219e+07
7       24/08/2017  5.488860e+06
8       25/08/2017  9.605421e+06
9       26/08/2017  7.250342e+06
10      27/08/2017  2.359696e+06
11      28/08/2017  6.150830e+06
12      29/08/2017  8.404800e+06
13      30/08/2017  4.875911e+06